<!DOCTYPE html>
<html>
  <head>
    <title>ART X</title>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">


  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel='stylesheet' href='/stylesheets/style2.css' />
  </head>
  <body>
    <nav>
     <div class="nav-wrapper">
       <a href="#"><img class="logo" src="/images/logooo.png" alt="ArtX Logo"></a>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="/" class="a">Home</a></li>
         <li><a href="/aboutus" class="a">About Us</a></li>
         <li><a href="/events" class="a">Events</a></li>
         <li><a href="/shop" class="a">Shop</a></li>
         <li><a href="/account" class="a">Sign In</a></li>

       </ul>
     </div>
   </nav>

<center><h3>Our Team:</h3></center>
<center><img id= "group" class="url" src="/images/group.jpg" alt="Group"></center>


<center><h5>Axel Orta - Leader</h5></center>
<center><h5>Raúl Poll - Notetaker</h5></center>
<center><h5>Sarah Correa & Ariana Negron - Artists</h5></center>
<center><h5>Giancarlo Allio - Resource Investigator</h5></center>
<br>
<center><h3>Our Mission:</h3></center>
<p>
  <center>We saw how artists had problems, some don't have inspiration to keep drawing.</center>
<center>Others just don't find the materials necessary to continue creating.</center>
    <center>Then, we decided to create this website to help these artists to find inspiration and to buy the materials needed.</center>
     <center>The website has all this so hop in and start using it.</center> </p>
<br><br><br>


<center><img id= "snapfil" class="url" src="/images/ARtX.png" alt="snap"></center>

<footer class="page-footer">
       <div class="container">
         <div class="row">
           <div class="col l6 s12">
             <h5 class="white-text">Follow Us</h5>
             <!-- Add font awesome icons -->
            <a href="https://www.facebook.com/ArtX-1408828055861624/" class="fa fa-facebook"></a>
            <a href="https://twitter.com" class="fa fa-twitter"></a>
            <a href="https://plus.google.com" class="fa fa-google"></a>
            <a href="https://www.instagram.com/official_artx/" class="fa fa-instagram"></a>




             <p class="grey-text text-lighten-4"></p>
           </div>
           <div class="col l4 offset-l2 s12">
             <h5 class="white-text">INFO</h5>
             <ul>
               <li><a class="grey-text text-lighten-3" href="#!">1-800-ART-X123</a></li>
               <li><a class="grey-text text-lighten-3" href="#!">ArtX@gmail.com</a></li>
             </ul>
           </div>
         </div>
       </div>
       <div class="footer-copyright">
         <div class="container">
         © 2017 Copyright Text
         <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
         </div>
       </div>
     </footer>

  </body>
</html>
