<!DOCTYPE html>
<html>
  <head>
      <title>ART X</title>
      <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
      <!-- Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <!-- Compiled and minified JavaScript -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <script src="/javascript/slider.js"></script>
      <link rel='stylesheet' href='/stylesheets/style2.css' />
      <style>
        h3 {
            color: black;
          }

          h5{
            color: black;
          }

          p{
            color: black;
          }
      </style>
      <style>
      div.gallery {
          margin: 5px;
          border: 1px solid #ccc;
          float: left;
          width: 180px;
          margin-left: 150px;
      }

      div.gallery:hover {
          border: 1px solid #777;
      }

      div.gallery img {
          width: 100%;
          height: auto;
      }

      div.desc {
          padding: 15px;
          text-align: center;
      }
      </style>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#"><img class="logo" src="/images/new.png" alt="ArtX Logo"></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/" class="a">Home</a></li>
          <li><a href="/shop" class="a">Shop</a></li>
          <li><a href="/events" class="a">Events</a></li>
          <li><a href="/aboutus" class="a">About Us</a></li>
          <li><a href="/account" class="a">Account</a></li>
        </ul>
      </div>
    </nav>

    <div class="center">
      <h3>Our Team:</h3>
      <img id= "group" class="url" src="/images/group.jpg" alt="Group">
      <h5>Axel Orta - Leader</h5>
      <h5>Raúl Poll - Notetaker</h5>
      <h5>Sarah Correa & Ariana Negron - Artists</h5>
      <h5>Giancarlo Allio - Resource Investigator</h5>
    </div>
    <br>

    <div class="center">
    <h3>Our Mission:</h3>
      <h5>We saw how artists had problems, some don't have inspiration to keep drawing.</h5>
      <h5>Others just don't find the materials necessary to continue creating.</h5>
      <h5>Then, we decided to create this website to help these artists to find inspiration and to buy the materials needed.</h5>
      <h5>The website has all this so hop in and start using it.</h5>
    </div>
    <div class="team">
      <h3 class="center">Have you seen our Snapchat filters?!</h3>

      <div class="slideshow-container">
        <div class="mySlides fade">
          <img src="/images/ARtX.png" style="width:100%">
        </div>

        <div class="mySlides fade">
          <img src="/images/ArtX (1).png" style="width:100%">
        </div>

        <div class="mySlides fade">
          <img src="/images/ArX2.png" style="width:100%">
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
      <br>

      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
      </div>
    </div>


    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Follow Us</h5>
            <!-- Add font awesome icons -->
            <a href="https://www.facebook.com/ArtX-1408828055861624/" class="fa fa-facebook"></a>
            <a href="https://twitter.com" class="fa fa-twitter"></a>
            <a href="https://plus.google.com" class="fa fa-google"></a>
            <a href="https://www.instagram.com/official_artx/" class="fa fa-instagram"></a>

            <p class="grey-text text-lighten-4"></p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">INFO</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="#!">1-800-ART-X123</a></li>
              <li><a class="grey-text text-lighten-3" href="#!">ArtX@gmail.com</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container"> © 2017 Copyright Text <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
      </div>
    </footer>
  </body>
</html>
