<!DOCTYPE html>
<html>
  <head>
    <title>ART X</title>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">


  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>


  <link rel='stylesheet' href='/stylesheets/style2.css' />
  </head>
  <body>
    <nav>
     <div class="nav-wrapper">
       <a href="#"><img class="logo" src="/images/logooo.png" alt="ArtX Logo"></a>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="/" class="a">Home</a></li>
         <li><a href="/aboutus" class="a">About Us</a></li>
         <li><a href="#" class="a">Contact Us</a></li>
         <li><a href="#" class="a">Gallery</a></li>
       </ul>
     </div>
   </nav>



<br><br><br>

    <footer class="page-footer">
   <div class="container">
     <div class="row">
       <div class="col l6 s12">
          <h3 class="white-text">Siguenos!</h3>
          <ul>
          <h4> <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li><h4>
         </ul>
       </div>
       <div class="col l4 offset-l2 s12">


       </div>
     </div>
   </div>
   <div class="footer-copyright">
     <div class="container">
     © 2014 Copyright Text
     <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
     </div>
   </div>
 </footer>

  </body>
</html>
