<!DOCTYPE html>
<style>

h1{
  text-align: center;
  color: black;
}
div.gallery{
  align-items: center;
}

p{
  text-align: center;
}

a{
  align-items: center;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

h2{
  font-style: italic;
  color: white;
}

div.gallery{
  align-items: center;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    margin-left: 140px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100px;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

a {
  color: #black;
}


nav{
  background-color:  #1976d2;
  height: 100px
}


.logo {
  width:110px;
  height:100px;
}
.h
 {
  margin-top: 20px;
}

.g
 {
  margin-top: 20px;
}
.a
 {
  margin-top: 20px;
}
.c
 {
  margin-top: 20px;
}

.page-footer{

background-color: #FFD913;

background-color: gray;

}

.card {
  width: 400px;
  height: 400px;

}

a2{
  color: black;
}
/* footer social media icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

</style>

<html>
  <head>
    <title>ArtX</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style3.css'/>
  </head>
  <body>
    <nav>
     <div class="nav-wrapper">
       <a href="#"><img class="logo" src="/images/new.png" alt="ArtX Logo"></a>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="/" class="a">Home</a></li>
         <li><a href="/shop" class="a">Shop</a></li>
         <li><a href="/events" class="a">Events</a></li>
         <li><a href="/aboutus" class="a">About Us</a></li>
         <li><a href="/" class="a">Exit</a></li>
       </ul>
     </div>
   </nav>

<br>
<h1>Your Wishlist</h1>
<br><br><br>

<center><div class="gallery">
<a target="_blank" href="forest.jpg">
<img src="./images/fan.jpg" alt="Forest" width="300" height="200">
</a>
<div class="desc">This 2 pack fan brush is brand new! Get it. It only costs $3.15</div>
<br><a class="waves-effect waves-light btn">BUY</a>
</div></center>

<center><div class="gallery">
<a target="_blank" href="lights.jpg">
<img src="./images/round.jpg" alt="Northern Lights" width="300" height="200">
</a>
<div class="desc">Need round tip paint brushes? Buy them here!Get 9 brushes for only $4.95.</div>
<a class="waves-effect waves-light btn">BUY</a>
</div></center>



<br><br><br><br>
<br><br><br><br><br><br><br>
<br><br><br>

<footer class="page-footer">
         <div class="container">
           <div class="row">
             <div class="col l6 s12">
               <h5 class="white-text">Follow Us</h5>
               <!-- Add font awesome icons -->
               <a href="https://www.facebook.com/ArtX-1408828055861624/" class="fa fa-facebook"></a>
              <a href="https://twitter.com" class="fa fa-twitter"></a>
              <a href="https://plus.google.com" class="fa fa-google"></a>
              <a href="https://www.instagram.com/official_artx/" class="fa fa-instagram"></a>




               <p class="grey-text text-lighten-4"></p>
             </div>
             <div class="col l4 offset-l2 s12">
               <h5 class="white-text">INFO</h5>
               <ul>
                 <li><a class="grey-text text-lighten-3" href="#!">1-800-ART-X123</a></li>
                 <li><a class="grey-text text-lighten-3" href="#!">ArtX@gmail.com</a></li>
               </ul>
             </div>
           </div>
         </div>
         <div class="footer-copyright">
           <div class="container">
           © 2017 Copyright Text
           </div>
         </div>
       </footer>




  </body>
</html>
