<!DOCTYPE html>
<html>
  <head>
    <title>ArtX</title>




    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <nav>
     <div class="nav-wrapper">
       <a href="#"><img class="logo" src="/images/logooo.png" alt="ArtX Logo"></a>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="/" class="a">Home</a></li>
         <li><a href="/aboutus" class="a">About Us</a></li>
         <li><a href="/events" class="a">Events</a></li>
         <li><a href="/shop" class="a">Shop</a></li>
         <li><a href="/account" class="a">Sign In</a></li>

       </ul>
     </div>
    </nav>



    <style>
    div.gallery {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
    }

    div.gallery:hover {
        border: 1px solid #777;
    }

    div.gallery img {
        width: 100%;
        height: auto;
    }

    div.desc {
        padding: 15px;
        text-align: center;
    }
    </style>
    </head>
    <body>

    <div class="gallery">
      <a target="_blank" href="https://www.facebook.com/dreamInnPRgh/">
        <img src="./images/dreaminn.jpg" alt="Dream Inn" width="300" height="200">
      </a>
      <div class="desc">Dream Inn Hotel
      Gallery Alejandra Smith
    - July 25, 2017</div>
    </div>

    <div class="gallery">
      <a target="_blank" href="https://m.firstbankpr.com/main/location/info?locationId=61">
        <img src="./images/firstbank.jpg" alt="First Bank" width="300" height="200">
      </a>
      <div class="desc">First Bank-Condado
      Ruben Rios Gallery - Always Open</div>
    </div>

    <div class="gallery">
      <a target="_blank" href="http://www.puertoricodaytrips.com/loiza-festival/">
        <img src="./images/loiza.jpg" alt="loiza" width="300" height="200">
      </a>
      <div class="desc">Fiestas de Santiago Apóstol
      - August 15, 2017</div>
    </div>

    <div class="gallery">
      <a target="_blank" href="http://puertoriconow.seepuertorico.com/2016/06/07/puerto-rico-outdoor-celebrations-and-festivals-every-traveler-needs-to-know-about/">
        <img src="./images/plantain.jpg" alt="plantain" width="300" height="200">
      </a>
      <div class="desc">National Plantain Festival
      - October 9, 2017</div>
    </div>


    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>










    <footer class="page-footer">
           <div class="container">
             <div class="row">
               <div class="col l6 s12">
                 <h5 class="white-text">Follow Us</h5>
                 <!-- Add font awesome icons -->
                <a href="https://www.facebook.com" class="fa fa-facebook"></a>
                <a href="https://twitter.com" class="fa fa-twitter"></a>
                <a href="https://plus.google.com" class="fa fa-google"></a>
                <a href="https://www.instagram.com/official_artx/" class="fa fa-instagram"></a>




                 <p class="grey-text text-lighten-4"></p>
               </div>
               <div class="col l4 offset-l2 s12">
                 <h5 class="white-text">INFO</h5>
                 <ul>
                   <li><a class="grey-text text-lighten-3" href="#!">1-800-ART-X123</a></li>
                   <li><a class="grey-text text-lighten-3" href="#!">ArtX@gmail.com</a></li>
                 </ul>
               </div>
             </div>
           </div>
           <div class="footer-copyright">
             <div class="container">
             © 2017 Copyright Text
             </div>
           </div>
         </footer>
</body>
</html>
