<!doctype html>

<html lang="es-es">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=gb18030">
	<meta name="google-site-verification" content="_g2CN7Yagcy83oXwtqcIBCLDqvaqFVSBzxeMw81Za84"/>
	<base href="https://www.eap.edu/academico-es/informacion-academica-es.html" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="arte,cultura,diseño,art,culture,design,puerto rico,san juan,viejo san juan, old san juan, educación del arte,pintura,diseño y arte digital,diseño gráfico,escultura,diseño industrial,diseño de modas,art education,painting,graphic design,sculpture,industrial design,fashion design" />
	<meta name="author" content="Super User" />
	<meta name="description" content="La Escuela de Artes Plásticas y Diseño es una institución autónoma pública de educación superior al servicio de la cultura y el pueblo de Puerto Rico. Se dedica a la formación plena de artistas profesionales, diseñadores, y maestros de arte, mediante el desarrollo de la creatividad, los procesos cognoscitivos y la enseñanza de técnicas artísticas y pedagógicas. Ofrece programas de bachillerato que estimulan y promueven el desarrollo humanístico y cultural de los estudiantes. Estos se forman vinculados a la rica tradición plástica puertorriqueña a la vez que exploran nuevos lenguajes de expresión artística. La Escuela de Artes Plásticas y Diseño aspira al desarrollo de una conciencia social entre sus estudiantes y a sensibilizarlos hacia la búsqueda de una vida enriquecedora y en armonía con los recursos naturales y el medio ambiente. Atiende la educación recurrente de diversos sectores de la comunidad, a través de cursos cortos dirigidos a ampliar sus conocimientos y sus capacidades artísticas, profesionales y personales." />
	<title>Escuela de Artes Plásticas y Diseño de Puerto Rico - Información Académica</title>
	<link href="https://www.eap.edu/academico-es/informacion-academica-es.html" rel="alternate" hreflang="es-ES" />
	<link href="https://www.eap.edu/en-us/academics-en/academic-information-en.html" rel="alternate" hreflang="en-US" />
	<link href="/templates/eap/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
	<link href="https://www.eap.edu/modules/mod_avatar_slide_galleria/assets/css/galleria.classic.css" rel="stylesheet" type="text/css" />
	<link href="/templates/eap/css/template.css.php" rel="stylesheet" type="text/css" />
	<link href="/media/mod_languages/css/template.css?afccc34cea45f745c1eddb650062fcc6" rel="stylesheet" type="text/css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js" type="text/javascript"></script>
	<script src="https://www.eap.edu/modules/mod_avatar_slide_galleria/assets/js/galleria.min.js" type="text/javascript"></script>
	<script src="/media/jui/js/jquery.min.js?afccc34cea45f745c1eddb650062fcc6" type="text/javascript"></script>
	<script src="/media/jui/js/jquery-noconflict.js?afccc34cea45f745c1eddb650062fcc6" type="text/javascript"></script>
	<script src="/media/jui/js/jquery-migrate.min.js?afccc34cea45f745c1eddb650062fcc6" type="text/javascript"></script>
	<script src="/media/system/js/caption.js?afccc34cea45f745c1eddb650062fcc6" type="text/javascript"></script>
	<script src="/media/jui/js/bootstrap.min.js?afccc34cea45f745c1eddb650062fcc6" type="text/javascript"></script>
	<script type="text/javascript">
jQuery.noConflict();
jQuery(window).on('load',  function() {
				new JCaption('img.caption');
			});
	</script>
	<link href="https://www.eap.edu/academico-es/informacion-academica-es.html" rel="alternate" hreflang="x-default" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
	<link rel="apple-touch-icon-precomposed" href="/templates/eap/images/apple-touch-icon-57x57-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/templates/eap/images/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/templates/eap/images/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/templates/eap/images/apple-touch-icon-144x144-precomposed.png">

	<!-- Custom styles for this template -->

	<link rel="stylesheet" type="text/css" media="screen" href="/templates/eap/css/sticky-footer-navbar.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/templates/eap/css/template.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/templates/eap/css/burbujas.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/templates/eap/css/media_queries.css">
	<link rel="stylesheet" type="text/css" media="screen" href="/templates/eap/css/burbujas_media_queries.css">
	<script type="text/javascript" src="/templates/eap/js/easy_video_background_v2_2/js/libs/jquery-1.6.2.min.js"></script>
	<script type="text/javascript" src="/templates/eap/js/easy_video_background_v2_2/js/libs/swfobject.js"></script>
	<script type="text/javascript" src="/templates/eap/js/easy_video_background_v2_2/js/libs/modernizr.video.js"></script>
	<script type="text/javascript" src="/templates/eap/js/easy_video_background_v2_2/js/video_background.js"></script>
  <script src="https://donorbox.org/install-popup-button.js" type="text/javascript" defer></script>
  <script> window.DonorBox = { widgetLinkClassName: 'custom-dbox-popup' } </script>
</head>

<body class="site informacion-academica-es ">

	<!-- Fixed navbar -->

	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header"><a href="/" class="navbar-brand"><img src="/templates/eap/images/logoeap.png" class="responsive-image"></a>

				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav menu nav navbar-nav">
<li class="item-430 default"><a href="/" >Inicio</a></li><li class="item-433 deeper parent"><a href="/sobre-la-eapd-es.html" >Sobre la EAPD</a><ul class="nav-child unstyled small"><li class="item-435"><a href="/sobre-la-eapd-es/mision-es.html" >Misión</a></li><li class="item-438"><a href="/sobre-la-eapd-es/informacion-es.html" >Información</a></li><li class="item-440"><a href="/sobre-la-eapd-es/ofrecimientos-es.html" >Ofrecimientos</a></li><li class="item-442"><a href="/sobre-la-eapd-es/junta-de-directores-es.html" >Junta de Directores</a></li><li class="item-444"><a href="/sobre-la-eapd-es/administracion-es.html" >Administración</a></li><li class="item-608"><a href="/sobre-la-eapd-es/comite-de-etica-gubernamental.html" >Comité de Ética Gubernamental</a></li><li class="item-446"><a href="/sobre-la-eapd-es/fondo-dotal-es.html" >Fondo Dotal</a></li><li class="item-448"><a href="/sobre-la-eapd-es/seguridad-es.html" >Seguridad</a></li><li class="item-450"><a href="/sobre-la-eapd-es/politicas-institucionales-es.html" >Políticas Institucionales</a></li><li class="item-452"><a href="/sobre-la-eapd-es/estadisticas-institucionales-es.html" >Estadísticas Institucionales</a></li><li class="item-454"><a href="/sobre-la-eapd-es/derecho-del-estudiante-a-saber-student-right-to-know-es.html" >Derecho del Estudiante a Saber</a></li><li class="item-456"><a href="/sobre-la-eapd-es/directorio-telefonico-es.html" >Directorio Telefónico</a></li></ul></li><li class="item-458 deeper parent"><a href="/admisiones-es.html" >Admisiones</a><ul class="nav-child unstyled small"><li class="item-460"><a href="/admisiones-es/requisitos-es.html" >Requisitos</a></li><li class="item-462"><a href="/admisiones-es/nuevo-ingreso-es.html" >Nuevo Ingreso</a></li><li class="item-468"><a href="/admisiones-es/fechas-es.html" >Fechas</a></li></ul></li><li class="item-470 deeper parent"><a href="/bachilleratos-es.html" >Bachilleratos BFA</a><ul class="nav-child unstyled small"><li class="item-472"><a href="/bachilleratos-es/artes-graficas-es.html" >Artes Gráficas</a></li><li class="item-474"><a href="/bachilleratos-es/educacion-del-arte-es.html" >Educación del Arte</a></li><li class="item-476"><a href="/bachilleratos-es/pintura-es.html" >Pintura</a></li><li class="item-479"><a href="/bachilleratos-es/diseno-y-arte-digital-es.html" >Diseño y Arte Digital</a></li><li class="item-481"><a href="/bachilleratos-es/escultura-es.html" >Escultura</a></li><li class="item-483"><a href="/bachilleratos-es/diseno-industrial-es.html" >Diseño Industrial</a></li><li class="item-485"><a href="/bachilleratos-es/diseno-de-modas-es.html" >Diseño de Modas</a></li><li class="item-487"><a href="/bachilleratos-es/menores-es.html" >Menores</a></li></ul></li><li class="item-489 active deeper parent"><a href="/academico-es.html" >Académico</a><ul class="nav-child unstyled small"><li class="item-491 current active"><a href="/academico-es/informacion-academica-es.html" >Información Académica</a></li><li class="item-493"><a href="/academico-es/registraduria-es.html" >Registraduría</a></li><li class="item-495"><a href="/academico-es/facultad-es.html" >Facultad</a></li></ul></li><li class="item-497 deeper parent"><a href="/estudiantiles-es.html" >Estudiantiles</a><ul class="nav-child unstyled small"><li class="item-499"><a href="/estudiantiles-es/asuntos-estudiantiles-es.html" >Asuntos Estudiantiles</a></li><li class="item-501"><a href="/estudiantiles-es/vida-y-carrera-es.html" >Vida y Carrera</a></li><li class="item-503"><a href="/estudiantiles-es/asistencia-economica-es.html" >Asistencia Económica</a></li><li class="item-505"><a href="/estudiantiles-es/ayudas-economicas-es.html" >Ayudas Económicas</a></li><li class="item-506"><a href="/estudiantiles-es/desarrollo-profesional-es.html" >Desarrollo profesional</a></li><li class="item-508"><a href="/estudiantiles-es/servicios-a-estudiantes-con-impedimentos-es.html" >Servicios a estudiantes con impedimentos</a></li></ul></li><li class="item-510 deeper parent"><a href="/biblioteca-francisco-oller-es.html" >Biblioteca</a><ul class="nav-child unstyled small"><li class="item-512"><a href="https://eap.follettdestiny.com" >Catálogo en línea</a></li><li class="item-516"><a href="/biblioteca-francisco-oller-es/sobre-la-biblioteca-submenu-es.html" >Sobre la Biblioteca</a></li><li class="item-515"><a href="/biblioteca-francisco-oller-es/recursos-en-linea-submenu-es.html" >Recursos en línea</a></li><li class="item-518"><a href="/biblioteca-francisco-oller-es/enlaces-es.html" >Enlaces</a></li><li class="item-520"><a href="https://goo.gl/forms/fPEjwVFHwYtTzjss2" onclick="window.open(this.href, 'targetWindow', 'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,'); return false;">Consultas</a></li></ul></li><li class="item-522"><a href="//extension.eap.edu" target="_blank" rel="noopener noreferrer">Cursos Cortos</a></li><li class="item-524"><a href="/eventos-es.html" >Eventos</a></li></ul>

			</div>

			<!--/.nav-collapse -->

		</div>
	</div>

	<!-- Begin page content -->

	<div class="container">

		<div class="row">
			<div class="col-sm-9 col-md-9 col-lg-9">

				<div id="content">

					<div class="item-page" itemscope itemtype="https://schema.org/Article">
	<meta itemprop="inLanguage" content="es-ES" />


			<div class="page-header">
					<h2 itemprop="headline">
				INFORMACIÓN ACADÉMICA			</h2>
									</div>





									<div itemprop="articleBody">
		<p><span style="color: #333333;">		<div class="moduletableavatar_slideshow">
							<div id="avatar_galleria_module" class="galleria-classic" style="display: block;margin: auto;width:100%;">
		<a href='https://www.eap.edu/images/slideshows/sobre_la_eap/slideshow_sobreeap_0.jpg'><img alt='' style='display:none;' src='https://www.eap.edu/images/slideshows/sobre_la_eap/slideshow_sobreeap_0.jpg'/></a><a href='https://www.eap.edu/images/slideshows/sobre_la_eap/slideshow_sobreeap_1.jpg'><img alt='' style='display:none;' src='https://www.eap.edu/images/slideshows/sobre_la_eap/slideshow_sobreeap_1.jpg'/></a><a href='https://www.eap.edu/images/slideshows/sobre_la_eap/slideshow_sobreeap_2.jpg'><img alt='' style='display:none;' src='https://www.eap.edu/images/slideshows/sobre_la_eap/slideshow_sobreeap_2.jpg'/></a><a href='https://www.eap.edu/images/slideshows/sobre_la_eap/slideshow_sobreeap_4.jpg'><img alt='' style='display:none;' src='https://www.eap.edu/images/slideshows/sobre_la_eap/slideshow_sobreeap_4.jpg'/></a><a href='https://www.eap.edu/images/slideshows/sobre_la_eap/slideshow_sobreeap_5.jpg'><img alt='' style='display:none;' src='https://www.eap.edu/images/slideshows/sobre_la_eap/slideshow_sobreeap_5.jpg'/></a>	</div><script type="text/javascript">
jQuery.noConflict();
(function($)
{
		$(document).ready( function()
		{
			$('#avatar_galleria_module .fullscreen').css("background","transparent");
			Galleria.loadTheme('https://www.eap.edu/modules/mod_avatar_slide_galleria/assets/js/galleria.classic.js');
			Galleria.JURI = "https://www.eap.edu/modules/mod_avatar_slide_galleria/assets/images/loader.gif";
						//Initialize Galleria
			Galleria.run('#avatar_galleria_module',{
				height			:0.4,
				lightbox		: false,
				responsive		: true,
				transition		:'fade',
				fullscreenTransition:'pulse',
				transitionSpeed	: 500,
				imageCrop		: true,
				fullscreenCrop  : true,
				imagePan		: false,
				imagePanSmoothness	: 3,
				showCounter		: false,
				showImagenav	: false,
				showInfo		: false,
				_showFullscreen : true,
				_showProgress	: false,
				titleColor	: '##000000',desColor		: '##000000',bgColor		: 'transparent',				thumbnails		: false,
				dataSort		: 'random'				, autoplay:5000			});
		});
})(jQuery);
</script>
<div class="avatar-copyright" style="width:100%;margin: 5px;text-align: center;font-size: 10px;">
&copy; Amazing-Templates.com
	<a target="_blank" href="https://www.amazing-templates.com" title="Joomla Template &amp; Extension">Joomla Extension</a>-
	<a target="_blank" href="https://www.amazing-templates.com" title="Joomla Template &amp; Extension">Joomla Template</a>
</div>		</div>
	</span><br />El programa de Bachillerato en Artes Plásticas consta de 132 créditos en las concentraciones de Artes gráficas, Diseño Industrial, Diseño de Modas, Diseño y Arte Digital, Educación del Arte, Escultura y Pintura, Los 132 créditos se distribuyen entre los siguientes componentes: cursos fundamentales de taller, cursos de concentración, cursos de estudios generales, así como de electivas libres y dirigidas. Para ver el desglose de la cantidad en créditos en cada uno de los componentes, por departamento, ver sección Oferta académica, del <a href="/images/descargas/academico/Catalogo_EAPD_2016_17.pdf" target="_blank">Catálogo académico 2016-2017</a>.</p>
<p><strong>Información Académica</strong></p>
<p>La Escuela de Artes Plásticas y Diseño de Puerto Rico publica un Calendario Académico con las fechas claves de cada semestre y de la sesión de verano. Las clases del primer semestre comienzan en agosto y terminan en diciembre. El segundo semestre comienza en enero y finaliza en mayo. La sesión de verano se lleva a cabo en el mes de junio.</p>
<p>Para acceder al <a href="/images/descargas/calendarios/CalendarioAcademico-2016-2017.pdf" target="_blank">Calendario académico presione aquí</a>.</p>
<p><strong>Unidad de Instrucción</strong></p>
<p>En la Escuela de Artes Plásticas y Diseño de Puerto Rico un (1) crédito universitario equivale a dieciséis (16) horas contacto por semestre en cursos de teoría (Estudios Generales y Educación del Arte) y treinta y dos (32) horas contacto al semestre en cursos de taller. Una carga académica regular consta de 12 a 18 créditos por semestre.</p>
<p><strong>Clasificación de estudiantes</strong></p>
<p style="margin-left: 30px;"><strong>Programa Regular</strong><br />Son los que siguen un programa regular de l2 créditos o más por semestre y, además, son aspirantes a un grado de la Escuela de Artes Plásticas y Diseño de Puerto Rico. Incluye estudiantes de nuevo ingreso, transferidos y readmitidos.</p>
<p style="margin-left: 30px;"><a href="http://www.extension.eap.edu"><strong>Programa de Extensión</strong></a><br />Son aquellos que toman los cursos que se ofrecen en dicho programa para mejoramiento personal.</p>
<p style="margin-left: 30px;"><strong>Programa de Estudios Libres<br /></strong>Son los estudiantes que se matriculan en el Programa de Estudios Libres, el cual provee oportunidades de estudios a los estudiantes que no interesen ceñirse a la estructura curricular del bachillerato en la Escuela de Artes Plásticas y Diseño de Puerto Rico.<strong><br /></strong></p>
<p><strong>Convalidación de estudios</strong></p>
<p>La Escuela de Artes Plásticas y Diseño de Puerto Rico convalida hasta un máximo de 60 créditos.<br />Para mayor información favor referirse al catálogo institucional.</p>
<p>&nbsp;</p>	</div>


							</div>


				</div>

			</div>
						<div class="col-sm-3 col-md-3 col-lg-3">
				<div id="sidemenu">
					<ul class="nav menu">
<li class="item-620 divider"><span class="separator ">Graduaciones</span>
</li><li class="item-619"><a href="https://goo.gl/photos/k6bkB11t4W2RtGpD7" target="_blank" rel="noopener noreferrer">2016</a></li><li class="item-618"><a href="https://goo.gl/photos/7aMeALf2vMHcw1dBA" target="_blank" rel="noopener noreferrer">2015</a></li></ul>
<ul class="nav menu">
<li class="item-546"><a href="https://www.eap.edu/images/descargas/admisiones/SolicitudAdmisionEAP.pdf" onclick="window.open(this.href, 'targetWindow', 'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizable=yes,'); return false;">¡SOLICITA AHORA!</a></li><li class="item-547"><a href="https://donorbox.org/becas" class="custom-dbox-popup">DONAR</a></li></ul>

				</div>
			</div>
		</div>
	</div>
			<div class="container">
		<div class="row">
			<div class="col-sm-9 col-md-9 col-lg-9">
				<div id="eventos">

					<!-- BEGIN: Custom advanced (www.pluginaria.com) -->
<h4>EVENTOS</h4><!-- END: Custom advanced (www.pluginaria.com) -->



					<div id="eventoscontent">
						<ul class="category-module">
						<li>
									<a class="mod-articles-category-title " href="/eventos-es/106-fad-2016.html">FAD 2016</a>






							</li>
					<li>
									<a class="mod-articles-category-title " href="/eventos-es/111-46ta-colacion-de-grados.html">46TA. COLACIÓN DE GRADOS</a>






							</li>
					<li>
									<a class="mod-articles-category-title " href="/eventos-es/113-catalogo-expo-graduados-16.html">CATÁLOGO EXPO GRADUADOS '16</a>






							</li>
					<li>
									<a class="mod-articles-category-title " href="/eventos-es/114-catalogo-anual-2016.html">CATÁLOGO ANUAL 2016</a>






							</li>
					<li>
									<a class="mod-articles-category-title " href="/eventos-es/118-matricula-ago-2016.html">MATRÍCULA AGO. 2016</a>






							</li>
			</ul>

					</div>
				</div>
			</div>

		</div>
	</div>
	<div id="footer">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12 col-md-12 col-lg-12">
					<div id="slogan">


<div class="custom"  >
	<h2 style="text-align: center;">UN ESPACIO QUE RETA TU CREATIVIDAD</h2></div>

					</div>
				</div>
			</div>
			<div class="row">
				<div id="servicios" class="col-sm-6 col-md-6 col-lg-6">
					<!-- BEGIN: Custom advanced (www.pluginaria.com) -->
&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://mail.google.com">Intranet</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/images/descargas/academico/Catalogo_EAPD_2016_17.pdf">Catálogo</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/images/descargas/calendarios/CalendarioAcademico-2016-2017.pdf">Calendario</a><!-- END: Custom advanced (www.pluginaria.com) -->
<div class="mod-languages">

	<ul class="lang-inline">
						<li class="lang-active" dir="ltr">
			<a href="/academico-es/informacion-academica-es.html">
												<img src="/media/mod_languages/images/es_pr.gif" alt="Español (ES)" title="Español (ES)" />										</a>
			</li>
								<li dir="ltr">
			<a href="/en-us/academics-en/academic-information-en.html">
												<img src="/media/mod_languages/images/en_us.gif" alt="English (US)" title="English (US)" />										</a>
			</li>
				</ul>

</div>

				</div>
			</div>
			<div class="row">
				<div id="social" class="col-sm-6 col-md-6 col-lg-6"><a href="https://www.facebook.com/eapdpr"><img src="/templates/eap/images/facebook.svg" width="25" height="25" alt="facebook"></a><a href="https://vimeo.com/eappr"><img src="/templates/eap/images/vimeo.svg" width="25" height="25" alt="vimeo"></a>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
		jQuery( document ).ready( function () {

			// dropdown

			jQuery( '.parent' ).addClass( 'dropdown' );

			jQuery( '.parent > a' ).addClass( 'dropdown-toggle' );

			jQuery( '.parent > a' ).attr( 'data-toggle', 'dropdown' );

			jQuery( '.parent > a' ).attr( 'href', '#' );

			jQuery( '.parent > a' ).append( '<span class="caret"></span>' );

			jQuery( '.parent > ul' ).addClass( 'dropdown-menu' );

		} );
	</script>
	<!-- BEGIN: Custom advanced (www.pluginaria.com) -->
<script>
			jQuery(document).ready(function($) {
				var Video_back = new video_background($("body"), {
										"position": "fixed",	//Follow page scroll
										"z-index": "-1",		//Behind everything

										"loop": true, 			//Loop when it reaches the end
										"autoplay": true,		//Autoplay at start
										"muted": true,			//Muted at start

										"mp4":"/templates/eap/images/videos/eap/eap.mp4" , 	//Path to video mp4 format
										"webm":"/templates/eap/images/videos/eap/eap.webm" , 	//Path to video webm format
										"video_ratio": 1.7778, 				// width/height -> If none provided sizing of the video is set to adjust

										"fallback_image": "/templates/eap/images/videos/eap/eap.jpg",	//Fallback image path
										"priority": "html5"				//Priority for html5 (if set to flash and tested locally will give a flash security error)
									});

			});
		</script><!-- END: Custom advanced (www.pluginaria.com) -->


	<noscript>
Your browser does not support JavaScript!
</noscript>


</body>

</html>
