<!DOCTYPE html>
<html>
  <head>
    <title>ArtX</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <nav>
     <div class="nav-wrapper">
       <a href="#"><img class="logo" src="/images/logooo.png" alt="ArtX Logo"></a>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="/" class="a">Home</a></li>
         <li><a href="/aboutus" class="a">About Us</a></li>
         <li><a href="/events" class="a">Events</a></li>
         <li><a href="/shop" class="a">Shop</a></li>
         <li><a href="/account" class="a">Sign Up</a></li>
       </ul>
     </div>
    </nav>
   <div class="bgimg-1">
     <div class="caption">
      <h2> <span class="border"> ArtX </span> </h2>
       <br>
       <span class="border"> JUST THE BEST</span>
     </div>
   </div>

   <div style="text-align:center;padding:50px 80px;text-align: justify;">
     <h3 style="text-align:center;">What is ArtX?</h3>
     <p> ArtX is the main e-commerce of art materials in the online world. We seek
        to promote the artistic culture throughout the sale of professional art equipment, and supporting local artists' exhibitions.
        Here, people like you can buy and sell art products, and find out the upcoming events of the art industry. </p>
   </div>

   <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
     <h3 style="text-align:center;"></h3>
     <p> </p>
   </div>



   <div class="container">
     <form action="/shop">
       <div class="input-group">
         <input type="text" class="form-control" placeholder="Search" name="search">
         <div class="input-group-btn"><button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i>Search</button>
         </div>
       </div>
     </form>
   </div>


   <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Follow Us</h5>
                <!-- Add font awesome icons -->
               <a href="https://www.facebook.com/ArtX-1408828055861624/" class="fa fa-facebook"></a>
               <a href="https://twitter.com" class="fa fa-twitter"></a>
               <a href="https://plus.google.com" class="fa fa-google"></a>
               <a href="https://www.instagram.com/official_artx/" class="fa fa-instagram"></a>




                <p class="grey-text text-lighten-4"></p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">INFO</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">1-800-ART-X123</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">ArtX@gmail.com</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright Text
            </div>
          </div>
        </footer>
  </body>
</html>
