<!DOCTYPE html>
<html>
  <head>
    <title>ArtX</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <nav>
     <div class="nav-wrapper">
       <a href="#"><img class="logo" src="/images/logooo.png" alt="ArtX Logo"></a>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="/" class="a">Home</a></li>
         <li><a href="/aboutus" class="a">About Us</a></li>
         <li><a href="/gallery" class="a">Events</a></li>
         <li><a href="/shop" class="a">Shop</a></li>
<<<<<<< HEAD
         <li><a href="/account" class="a">SignUp/Login</a></li>
=======
         <li><a href="/account" class="a">Sign Up</a></li>

>>>>>>> b105fb33ac770e5b0f99c9d31e3a95adca8063f2
       </ul>
     </div>
    </nav>
   <div class="bgimg-1">
     <div class="caption">
      <h2> <span class="border"> ArtX </span> </h2>
       <br><br>
       <span class="border"> JUST THE BEST</span>
     </div>
   </div>

   <div style="text-align:center;padding:50px 80px;text-align: justify;">
        <center> <h3>DIFFERENT. ART. EXPERIENCE.</h3> </center>
     <h3 style="text-align:center;">What is ArtX?</h3>
     <p> ArtX is the main ecomerse of art materials in the online world. We seek
        to promote the artistic culture throughout the sale of certain art equipment </p>
   </div>

   <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
     <h3 style="text-align:center;"></h3>
     <p> </p>
   </div>

   <div class="bgimg-2">
     <div class="caption"></div>
   </div>

   <div style="position:relative;">
     <div style="background-color:#FFD913;text-align:center;padding:50px 80px;text-align: justify;">
        <p> SIGN UP </p>
     </div>
   </div>

<<<<<<< HEAD
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h3 class="white-text">Our social</h3>
          <ul>
            <h5> <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/">Facebook</a></li><h5>
            <h5> <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li><h5>
            <h5> <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li><h5>
          </ul>
       </div>
       <div class="col l4 offset-l2 s12">
       </div>
     </div>
   </div>
   <div class="footer-copyright">
     <div class="container">
       <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
     </div>
   </div>
  </footer>
=======
   <footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Follow Us</h5>
                <!-- Add font awesome icons -->
               <a href="https://www.facebook.com" class="fa fa-facebook"></a>
               <a href="https://twitter.com" class="fa fa-twitter"></a>
               <a href="https://plus.google.com" class="fa fa-google"></a>
               <a href="https://www.instagram.com" class="fa fa-instagram"></a>




                <p class="grey-text text-lighten-4"></p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">INFO</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">1-800-ART-X123</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">ArtX@gmail.com</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
>>>>>>> bbafc580a5b74ac3516d868ab6e68d76840e8a99
  </body>
</html>
