<!DOCTYPE html>
<html>
  <head>
    <title>ArtX</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <nav>
     <div class="nav-wrapper">
       <a href="#"><img class="logo" src="/images/logooo.png" alt="ArtX Logo"></a>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="/" class="a">Home</a></li>
         <li><a href="/aboutus" class="a">About Us</a></li>
         <li><a href="/gallery" class="a">Gallery</a></li>
         <li><a href="/shop" class="a">Shop</a></li>
         <li><a href="/account" class="a">Sign In</a></li>

       </ul>
     </div>
    </nav>
   <div class="bgimg-1">
     <div class="caption">
       <span class="border"> ArtX </span>
       <br><br>
       <span class="border"> slogan </span>
     </div>
   </div>

   <div style="text-align:center;padding:50px 80px;text-align: justify;">
     <h3 style="text-align:center;">What is ArtX?</h3>
     <p> ArtX is a Website where users can buy and sell certain art equipment. Here you can </p>
   </div>

   <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
     <h3 style="text-align:center;"></h3>
     <p> </p>
   </div>

   <div class="bgimg-2">
     <div class="caption"></div>
   </div>

   <div style="position:relative;">
     <div style="background-color:#FFD913;text-align:center;padding:50px 80px;text-align: justify;">
        <p> SIGN UP </p>
     </div>
   </div>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h3 class="white-text">Our social</h3>
          <ul>
            <h4> <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/">Facebook</a></li><h4>
            <h4> <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li><h4>
            <h4> <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li><h4>
          </ul>
       </div>
       <div class="col l4 offset-l2 s12">
       </div>
     </div>
   </div>
   <div class="footer-copyright">
     <div class="container">
       <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
     </div>
   </div>
  </footer>
  </body>
</html>
