<!DOCTYPE html>
<html>
  <head>
    <title>ArtX</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
        <nav>
           <div class="nav-wrapper">
       <a href="#"><img class="logo" src="/images/new.png" alt="ArtX Logo"></a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="/" class="a">Home</a></li>
         <li><a href="/shop" class="a">Shop</a></li>
         <li><a href="/events" class="a">Events</a></li>
         <li><a href="/aboutus" class="a">About Us</a></li>
         <li><a href="/account" class="a">Account</a></li>
       </ul>
     </div>
    </nav>
    <div class="parallax">
      <div class="caption">
       <h1> <span class="border"> ArtX </span> </h1>
        <br>
        <span class="border"> If it isn't here it's nowhere else.</span>
      </div>
    </div>

   <div style="text-align:center;padding:50px 80px;text-align: justify;">
     <h3 style="text-align:center;">What is ArtX?</h3>
  <h6>  <center> <p> ArtX is the main e-commerce of art materials in the online world. </center>
      <center> We seek to promote the artistic culture throughout the sale of professional art equipment, and supporting local artists' exhibitions. <center>
      <center>Here, people like you can buy and sell art products, and find out the upcoming events of the art industry. </p> </center></h6>
   </div>
   <h3><center>WHAT DO WE DO?</center> </h3>
     <h6><center>ArtX is an online store where users can buy art materials
       and sell some of their old or new materials that they don't need. </center>
       <center>When you go to "About us" you will find information about the team.</center><center> You can also find
          why we made this website, the problem we saw and how we fixed it.</center>
          <center> If you scroll down
      then you will see the upcoming events that we sponsor. </center><h6>

<br><br>
   <div class="parallax2">
     <div class="caption2">
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <strong><h1><center> BUY. SELL. INNOVATE. </center></h1><strong>
      <!--<h1> <span class="border"> ArtX </span> </h1>
       <br>
       <span class="border"> If it isn't here it's nowhere else.</span>-->
     </div>
   </div>

<br><br>

<br><br>

<h1><strong><center> DISCOVER.CREATE.INSPIRE.</center></strong></h1>

<br><br>


<form action="/shop">
<center><div <button><input type="button" onclick="location.href='/shop';" class="btn btn-primary btn-lg" value="SHOP NOW!"></button></div></center>
</form>

<br><br><br>

<footer class="page-footer">
       <div class="container">
         <div class="row">
           <div class="col l6 s12">
             <h5 class="white-text">Follow Us</h5>
             <!-- Add font awesome icons -->
            <a href="https://www.facebook.com/ArtX-1408828055861624/" class="fa fa-facebook"></a>
            <a href="https://twitter.com" class="fa fa-twitter"></a>
            <a href="https://mail.google.com/mail/u/0/#inbox" class="fa fa-google"></a>
            <a href="https://www.instagram.com/official_artx/" class="fa fa-instagram"></a>
            <p class="grey-text text-lighten-4"></p>
          </div>
          <div class="col l4 offset-l2 s12">


                               <p class="grey-text text-lighten-4"></p>
                             </div>
                             <div class="col l4 offset-l2 s12">
                               <h5 class="white-text">INFO</h5>
                               <ul>
                                 <li><a class="grey-text text-lighten-3" href="#!">1-800-ART-X123</a></li>
                                 <li><a class="grey-text text-lighten-3" href="#!">ArtX@gmail.com</a></li>
                               </ul>
<h6>Have Any Complaints</h6>
<p><a href="https://goo.gl/forms/Xj25vpYFo6OAo5zA2">Contact Us</a></p>
                             </div>
                           </div>
                         </div>
                         <div class="footer-copyright">
                           <div class="container">
                           © 2017 Copyright Text
                           </div>
                         </div>
                       </footer>
              </body>
              </html>
