<!DOCTYPE html>
<html>
  <head>
    <title>ArtX</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel='stylesheet' href='/stylesheets/style2.css'/>

  </head>
  <body>

<nav>
   <div class="nav-wrapper">
        <img class="logo" src="/images/logooo.png" alt="ArtX Logo">
        <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="/" class="a">Home</a></li>
         <li><a href="/aboutus" class="a">About Us</a></li>
         <li><a href="/events" class="a">Events</a></li>
         <li><a href="/shop" class="a">Shop</a></li>
         <li><a href="/account" class="a">Sign Up</a></li>
       </ul>
   </div>
 </nav>

<p><strong>Looking for something specific?:</strong></p>
   <form>
<input type="text" name="search" placeholder="Search..">
</form>
   <body>

     <br><br><br>

 <div class="gallery">
   <a target="_blank" href="fjords.jpg">
     <img src="./images/brush.jpg" alt="Fjords" width="300" height="200">
   </a>
   <div class="desc"> 4-Pack Isabey Acrylic Brushes. Free Shipping! Get it now, only $8.95.</div>
   <a class="waves-effect waves-light btn">BUY</a>

 </div>

 <div class="gallery">
   <a target="_blank" href="forest.jpg">
     <img src="./images/fan.jpg" alt="Forest" width="300" height="200">
   </a>
   <div class="desc">This 2 pack fan brush is brand new! Get it. It only costs $3.15</div>
   <br><a class="waves-effect waves-light btn">BUY</a>
</div>

 <div class="gallery">
   <a target="_blank" href="lights.jpg">
     <img src="./images/round.jpg" alt="Northern Lights" width="300" height="200">
   </a>
   <div class="desc">Need round tip paint brushes? Buy them here!Get 9 brushes for only $4.95.</div>
 <a class="waves-effect waves-light btn">BUY</a>
</div>

 <div class="gallery">
   <a target="_blank" href="mountains.jpg">
     <img src="./images/potato.jpg" alt="Mountains" width="300" height="200">
   </a><br><br><br><br>
   <br>
   <div class="desc"> Buy now a 6-pack of Fine Point brushes!$3.75. <br></div>
    <a class="waves-effect waves-light btn">BUY</a>
 </div>
 <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Follow Us</h5>
              <!-- Add font awesome icons -->
             <a href="https://www.facebook.com" class="fa fa-facebook"></a>
             <a href="https://twitter.com" class="fa fa-twitter"></a>
             <a href="https://plus.google.com" class="fa fa-google"></a>
             <a href="https://www.instagram.com/official_artx/" class="fa fa-instagram"></a>




              <p class="grey-text text-lighten-4"></p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">INFO</h5>
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!">1-800-ART-X123</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">ArtX@gmail.com</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2017 Copyright Text
          </div>
        </div>
      </footer>




 </body>
 </html>
