<!DOCTYPE html>
<html>
  <head>
    <title>ArtX</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style2.css'/>
  </head>
  <body>
    <nav>
     <div class="nav-wrapper">
       <a href="#"><img class="logo" src="/images/logooo.png" alt="ArtX Logo"></a>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a href="/" class="a">Home</a></li>
         <li><a href="/aboutus" class="a">About Us</a></li>
         <li><a href="#" class="a">Contact Us</a></li>
         <li><a href="#" class="a">Gallery</a></li>
         <li><a href="shop" class="a">Shop</a></li>
         <li><a href="#" class="a">Sign In</a></li>

       </ul>
     </div>
   </nav>

   <div class="col s12 m7">
      <h2 class="header">Bristle Brushes</h2>
      <div class="card horizontal">
        <div class="card-image">
          <img src="https://lorempixel.com/100/190/nature/6">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>I am a very simple card. I am good at containing small bits of information.</p>
          </div>
          <div class="card-action">
            <a href="#">This is a link</a>
          </div>
        </div>
      </div>
    </div>


    <div class="gallery">
      <a target="_blank" href="fjords.jpg">
        <img src="fjords.jpg" alt="Fjords" width="300" height="200">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>

    <div class="gallery">
      <a target="_blank" href="forest.jpg">
        <img src="forest.jpg" alt="Forest" width="300" height="200">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>

    <div class="gallery">
      <a target="_blank" href="lights.jpg">
        <img src="lights.jpg" alt="Northern Lights" width="300" height="200">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>

    <div class="gallery">
      <a target="_blank" href="mountains.jpg">
        <img src="mountains.jpg" alt="Mountains" width="300" height="200">
      </a>
      <div class="desc">Add a description of the image here</div>
    </div>




  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h3 class="white-text">Our social</h3>
          <ul>
            <h4> <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/">Facebook</a></li><h4>
            <h4> <li><a class="grey-text text-lighten-3" href="#!">Instagram</a></li><h4>
            <h4> <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li><h4>
          </ul>
       </div>
       <div class="col l4 offset-l2 s12">
       </div>
     </div>
   </div>
   <div class="footer-copyright">
     <div class="container">
       <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
     </div>
   </div>
  </footer>
  </body>
</html>
