
body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.bgimg-1 {
  background-image: url("../images/color mixture.jpg");
  min-height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-2 {
  background-image: url("../images/paleta.jpg");
  min-height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
}


.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, {
        background-attachment: scroll;
    }
}
/* end of index styling */
a {
  color: black;
}

nav {
  background-color: #e9df17;
  height: 100px;
}

.logo {
  width:140px;
  height:100px;
}

.h {
  margin-top: 20px;
}

.g {
  margin-top: 20px;
}

.a {
  margin-top: 20px;
}
.c {
  margin-top: 20px;
}

.page-footer {
background-color: #FFD913;
}

.card {
  width: 400px;
  height: 400px;
}

/* footer social media icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 70px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
