
a {
  color: #black;
}


nav{
  background-color:  #e6e600;
  height: 100px
}


.logo {
  width:140px;
  height:100px;
}
.h
 {
  margin-top: 20px;
}

.g
 {
  margin-top: 20px;
}
.a
 {
  margin-top: 20px;
}
.c
 {
  margin-top: 20px;
}

.page-footer{

background-color: #FFD913;

background-color: gray;

}

.card {
  width: 400px;
  height: 400px;

}
