p{
  text-align: center;
}

a{
  align-items: center;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

h2{
  font-style: italic;
  color: white;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

a {
  color: #black;
}


nav{
  background-color:  #e9df17;
  height: 100px
}


.logo {
  width:140px;
  height:100px;
}
.h
 {
  margin-top: 20px;
}

.g
 {
  margin-top: 20px;
}
.a
 {
  margin-top: 20px;
}
.c
 {
  margin-top: 20px;
}

.page-footer{

background-color: #FFD913;

background-color: gray;

}

.card {
  width: 400px;
  height: 400px;

}
